body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

h1 {
    font-weight: normal;
}

#map-container {
    position: relative;
    width: 75%;
    margin: 1em auto;
    padding: 0;
}

#map {
    width: 100%;
}

#resource-container {
    width: 100%;
}

.resource {
    position: absolute;
    width: 50px;
}

.resource img {
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    top: -50%;
    left: -50%;
    opacity: .75;
    transition: opacity 0.25s ease;
}

.resource img:hover {
    opacity: 1;
}

.wf, .corridor {
    background-color: cyan;
}

.wcm, .wcma {
    background-color: blue;
}

.wcf, .wcfa {
    background-color: red;
}

.wcu, .wcua {
    background-color: purple;
}

.stairs, .ramp {
    background-color: yellow;
}

.elev, .lift {
    background-color: orange;
}

.door, .rdoor, .adoor {
    background-color: green;
}

#change-floor {
  position: fixed;
  left: 20px;
  top: 48%;
  width: 8em;
  margin-top: -2.5em;
}